<a href="{{ "/posts" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">posts</h2></a>
<a href="{{ "/whoami" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">whoami</h2></a>
<a href="{{ "/dev" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">dev</h2></a>
<a href="{{ "/contacts" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">contacts</h2></a>
<a href="{{ "/atom.xml" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">rss</h2></a>
